.video-card {
	width: 34rem;
	margin-left: 3rem;
	position: relative;
	margin-top: 1rem;
	box-shadow: rgb(0 0 0 / 10%) 0px 4px 12px;
	cursor: pointer;
	border-radius: 0.625rem;
	.video-card-response {
		width: 100%;
		height: auto;
	}
	.video-desc {
		font-size: 1.6rem;
		color: var(--primary-text-color);
		padding: 1rem 0.5rem;
		cursor: pointer;
		.video-desc-labels {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 0.5rem 1rem;
			margin-right: 1rem;
			.video-label-ellipses {
				width: 25rem;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
			.action-btn-container {
				position: relative;
				.btn-action-video {
					border: none;
				}
				.playlist-container {
					position: absolute;
					width: 20rem;
					height: 7rem;
					z-index: 1;
					background: #fff7f9;
					right: 1.5rem;
					bottom: 0;
					top: 0.5rem;
					border: 2px solid var(--border-color);
					border-radius: 0.625rem;
					padding: 0.5rem;
					color: var(--primary-text-color);
					.video-action-label-active {
						border: none;
						display: flex;
						font-size: 1.4rem;
						padding: 0.5rem 1rem;
						align-items: center;
						background-color: inherit;
						color: var(--primary-color);
						width: 100%;
						i {
							margin-right: 2rem;
						}
					}
					.video-action-label-inactive {
						@extend .video-action-label-active;
						color: var(--primary-text-color);
					}
				}
			}
		}
	}
}
@media only screen and (max-width: 768px) {
	.video-card {
		width: 100%;
		margin-left: 0rem;

	}
}
