.single-video {
	width: 85%;
	padding: 1rem;
	iframe {
		width: 90%;
		margin: 0 auto;
		display: flex;
		height: calc(75vh - 70px);
	}
	.video-desc {
		margin-left: 5rem;
		padding: 1.5rem 1rem;
		font-size: 1.6rem;
		color: var(--primary-text-color);
		display: flex;
		flex-direction: column;
		grid-gap: 1.5rem;
		.video-title {
			h2,
			h4 {
				padding: 0.5rem 0;
			}
		}
		.video-options {
			display: flex;
			gap: 3rem;
			font-size: 1.6rem;
			.video-option {
				padding: 0.5rem;
				border: 2px solid var(--dark-primary-color);
				color: var(--primary-color);
				border-radius: 1rem;
				cursor: pointer;
				label {
					margin-left: 1rem;
				}
				&:hover {
					color: var(--complimentary-text-color);
					background-color: var(--primary-color);
				}
			}
		}
		.video-description {
			display: flex;
			flex-direction: column;
			padding: 1rem 0;
			border-bottom: 1px solid var(--primary-text-color);
			label {
				font-weight: 500;
				padding-bottom: 1rem;
			}
			span {
				line-height: 2.5rem;
			}
		}
		.video-comments-label {
			font-weight: bold;
			padding: 1rem 0;
			font-size: 1.8rem;
			label {
				margin-left: 1rem;
			}
		}
		.video-comments-input {
			display: flex;
			padding: 1.5rem 0;
			font-size: 1.6rem;
			color: var(--primary-text-color);
			span {
				height: 4rem;
				width: 4rem;
				border: 2px solid var(--border-color);
				border-radius: 50%;
				text-align: center;
				padding-top: 0.8rem;
				background-color: var(--primary-color);
				font-size: 1.8rem;
				color: var(--complimentary-text-color);
			}
			input {
				width: 75%;
				margin: 0 1rem;
				padding: 0.25rem 0.5rem;
				outline: none;
				border: none;
				font-size: 1.6rem;
				border-bottom: 2px solid var(--secondary-text-color);
				color: var(--primary-text-color);
			}
			button {
				padding: 0.5rem 1rem;
				border: 2px solid var(--border-color);
				margin: 0 0.5rem;
				border-radius: 1rem;
				font-size: 1.6rem;
				background-color: var(--primary-color);
				color: var(--complimentary-text-color);
				letter-spacing: 0.15rem;
				cursor: pointer;
			}
		}
		.video-user-comments {
			display: flex;
			gap: 2rem;
			padding: 1rem 0;
			span {
				height: 4rem;
				width: 4rem;
				border: 2px solid var(--primary-color);
				border-radius: 50%;
				text-align: center;
				padding-top: 0.8rem;
				font-size: 1.8rem;
				color: var(--primary-color);
				font-weight: bold;
			}
			.video-user-comment {
				display: flex;
				flex-direction: column;
				gap: 0.5rem;
                .video-user-comment-name{
                    font-weight: bold;
                }
			}
		}
	}
}
